<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>

    <!-- DB-related beans (dataSource, sessionFactory, hibernateTemplate, etc) -->
    <context:component-scan base-package="org.cobbzilla.wizard.spring.config.rdbms"/>

    <!-- jersey resources, DAOs -->
    <context:component-scan base-package="cloudos.launcher.model"/>
    <context:component-scan base-package="cloudos.dao"/>

    <!-- mock LaunchConfigDAO to override cert validation -->
    <context:component-scan base-package="cloudos.launcher.dao">
        <context:exclude-filter type="regex" expression="cloudos.launcher.dao.LaunchConfigDAO"/>
    </context:component-scan>
    <bean class="cloudos.launcher.dao.MockLaunchConfigDAO"/>

    <context:component-scan base-package="cloudos.launcher.auth"/>
    <context:component-scan base-package="cloudos.launcher.resources"/>

    <!-- mock InstanceLaunchManager -->
    <context:component-scan base-package="cloudos.launcher.service">
        <context:exclude-filter type="regex" expression="cloudos.launcher.service.InstanceLaunchManager"/>
    </context:component-scan>
    <bean class="cloudos.launcher.service.MockInstanceLaunchManager"/>

    <bean id="uniqueValidator" class="org.cobbzilla.wizard.validation.UniqueValidator"/>

</beans>
